@()(implicit request: RequestHeader, messages: Messages)
<div class="jumbotron panel panel-default">

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="row">

        <info-user info="infoUser">
            <span class="pull-left" ng-if="user">
                <button type="button" class="btn btn-primary btn-lg" ng-click="openAside('left', true)">
                    <span class="glyphicon glyphicon-align-justify"></span> @messages("menu")
                </button>
            </span>
        </info-user>
    </div>
</div>
<div class="jumbotron panel panel-default">
    <div class="alert alert-danger" role="alert" ng-bind="msgFail" ng-if="msgFail"></div>
    <div class="alert alert-success" role="alert" ng-bind="msgSuccess" ng-if="msgSuccess"></div>
    <div >
    <form class="form-horizontal" name="frmLogin">
        {{frmLogin.$valid}}
        <fieldset>
                <!-- Form Name -->
            <legend>Logar no sistema.</legend>

                <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-4">
                    <input id="email" name="email" ng-model="login.email" placeholder="Email" class="form-control input-md" ng-required="true" type="text">
                    <span class="help-block">Informe o email cadastrado.</span>
                    <div ng-show="frmLogin.email.$error.required && frmLogin.email.$dirty" class="alert alert-danger">
                        <p>Por favor, preencha o seu Email.</p>
                    </div>
                </div>
            </div>

                <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Senha</label>
                <div class="col-md-4">
                    <input id="password" name="password" ng-model="login.password" placeholder="Senha" class="form-control input-md" ng-required="true" type="password">
                    <span class="help-block">Informe a senha cadastrada.</span>
                    <div ng-show="frmLogin.password.$error.required && frmLogin.password.$dirty" class="alert alert-danger">
                        <p>Por favor, preencha a senha.</p>
                    </div>
                </div>
            </div>

                <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="btnLogin"></label>
                <div class="col-md-8">
                    <button id="btnLogin" name="btnLogin" class="btn btn-success" ng-click="logUser(login)">Logar</button>
                    <button id="btnCancel" name="btnCancel" class="btn btn-danger">Cancelar</button>
                </div>
            </div>

        </fieldset>
    </form>
    </div>

</div>