.ui-alert {
    text-align: center;
    background-color: #f2dede;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.uib-alert-title {
    color: #af4341;
    font-weight: bold;
    font-size: 24px;
}

.uib-alert-message {
    color: #af4341;
}