@()(implicit request: RequestHeader, messages: Messages)
<div class="modal-header">
    <h3 class="modal-title">ngAside</h3>
</div>
<div class="modal-body">
    Look i'm in aside.
</div>
<div class="modal-footer form-group">
    <ul><button class="btn btn-default form-control" ng-click="home($event)">@messages("home")</button></ul>
    <ul><button class="btn btn-default form-control" ng-click="users($event)">@messages("users")</button></ul>
    <ul><button class="btn btn-default form-control" ng-click="categories($event)">@messages("categories")</button></ul>
    <ul><button class="btn btn-default form-control" ng-click="products($event)">@messages("products")</button></ul>
    <ul><button class="btn btn-default form-control" ng-click="gallery($event)">@messages("gallery")</button></ul>
    <ul><button class="btn btn-default form-control" ng-click="contacts($event)">@messages("contacts")</button></ul>

</div>