@()
<div class="ui-info-user">
    <div ng-transclude>
    </div>
    <div class="header" >
        <div class="inner">
            <div class="user-ui" >

                <a class="user-menu-toggle" ng-click="menu_open(isOpen)">
                    <img class="profile-img img img-circle" ng-src="{{info.avatar}}" />
                    <span class="simple-arrow fa fa-chevron-up"></span>
                </a>

                    <!-- User menu -->
                <div class="user-menu" ng-if="isOpen && info">
                    <div class="user-info">
                        <img class="profile-img img img-circle" ng-src="{{info.avatar}}" />
                        <h3 class="name">{{info.name}}</h3>
                    </div>

                    <div class="menu-nav" ng-repeat="iten in info.itemMenu">
                        <a href="{{iten.link}}"><li><span class="{{iten.class}}"></span>{{iten.nameMenu}}</li></a>
                    </div>
                </div>

                <div class="sign-out-icon">
                    <a href="#">
                        <span class="fa fa-power-off" data-toggle="tooltip" data-placement="bottom" title="Login"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>