@()(implicit request: RequestHeader, messages: Messages)

<link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="jumbotron panel panel-default">
    <div class="row">

        <info-user info="infoUser">
            <span class="pull-left">
                <button type="button" class="btn btn-primary btn-lg" ng-click="openAside('left', true)">
                    <span class="glyphicon glyphicon-align-justify"></span> @messages("menu")
                </button>
            </span>
        </info-user>
    </div>
</div>
<div class="jumbotron panel panel-default">

    <h3 class="title text-center">Lista da galeria.</h3>
    <hr />
    <div class="table-responsive">
        <table class="table table-striped">
            <th></th>
            <th>Nome</th>
            <th>Descrição</th>
            <th></th>
            <th></th>
            <tr ng-repeat="gal in galleries">
                <td><img ng-src="{{gal.imgSmallURL}}" class="img-circle img-responsive" style="width : 50px ;"/></td>
                <td>{{gal.name}}</td>
                <td>{{gal.desc}}</td>
                <td><button type="button" class="btn btn-default" ng-click="open(gal)">Editar</button></td>
                <td><button type="button" class="btn btn-danger" ng-click="delete(gal)">Excluir</button></td>
            </tr>
        </table>
    </div>
    <hr/>
    <div>
        <button type="button" class="btn btn-primary" ng-click="create()">Criar item.</button>
    </div>
</div>

<div>
    <script type="text/ng-template" id="myModalGallery.html">

        <div class="modal-header">
            <h3 class="modal-title">Criar | Editar!</h3>
        </div>

        <div class="modal-body">

            <form class="form-horizontal" name="frmGal">
                <fieldset>

                <!-- Form Name -->
                <legend>Galeria</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Nome</label>
                    <div class="col-md-4">
                        <input id="name" name="frmGal.name" placeholder="Nome" class="form-control input-md" ng-model="galToEdit.name" ng-required="true" type="text">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                <label class="col-md-4 control-label" for="desc">Descrição</label>
                <div class="col-md-4">
                <input id="desc" name="frmGal.desc" placeholder="Descrição" class="form-control input-md" ng-model="galToEdit.desc" ng-required="true" type="text">
                </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                <label class="col-md-4 control-label" for="imgSmallURL">Imagem</label>
                <div class="col-md-4">
                <input id="imgSmallURL" name="frmGal.imgSmallURL" placeholder="Url da imagem pequena" class="form-control input-md" ng-model="galToEdit.imgSmallURL" required="true" type="text">
                <span class="help-block">imagem pequena</span>
                </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                <label class="col-md-4 control-label" for="imgLargeURL">Imagem</label>
                <div class="col-md-4">
                <input id="imgLargeURL" name="frmGal.imgLargeURL" placeholder="Url da imagem grande" class="form-control input-md" ng-model="galToEdit.imgLargeURL" ng-required="true" type="text">
                <span class="help-block">imagem grande</span>
                </div>
                </div>
                {{galToEdit}}
                <!-- Button (Double) -->
                <div class="form-group">
                <label class="col-md-4 control-label" for="btnCreate"></label>
                <div class="col-md-8">
                <button id="btnCreate" name="btnCreate" class="btn btn-success" ng-click="ok()">Ok</button>
                <button id="btnCancel" name="btnCancel" class="btn btn-danger" ng-click="cancel()">Cancelar</button>
                </div>
                </div>

                </fieldset>
            </form>
        </div>
    </script>
</div>