@()(implicit request: RequestHeader, messages: Messages)

<link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="jumbotron panel panel-default">
    <div class="row">

        <info-user info="infoUser">
            <span class="pull-left">
                <button type="button" class="btn btn-primary btn-lg" ng-click="openAside('left', true)">
                    <span class="glyphicon glyphicon-align-justify"></span> @messages("menu")
                </button>
            </span>
        </info-user>
    </div>
</div>
<div class="jumbotron panel panel-default">

    <h3 class="title text-center">Lista de produtos.</h3>
    <hr />
    <div class="table-responsive">
        <table class="table table-striped">
            <tr ng-repeat="prod in products">
                <td><img ng-src="{{prod.imgSmallURL}}" class="img-circle" style="width: 50px;"/></td>
                <td>{{prod.name}}</td>
                <td>{{prod.desc}}</td>
                <td>{{prod.comments}}</td>

                <td>{{prod.feature}}</td>

            </tr>
        </table>
    </div>

</div>