@()(implicit request: RequestHeader, messages: Messages)

<div>
    <div class="row">
        <div class="col-xs-9 col-sm-4 col-md-4" >
            <div id="slides_control">
                <div>
                    <uib-carousel interval="myInterval">
                        <uib-slid ng-repeat="slide in slides" active="slide.active">
                            <img ng-src="{{slide.image}}">
                            <div class="carousel-caption">
                                <h4>Slide {{$index+1}}</h4>
                            </div>
                        </uib-slid>
                    </uib-carousel>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>@messages("products")</h2>
            <p><img src="@routes.Assets.versioned("img/icons/cake_1.png")" style="float : left ;" class="img-rounded"/>
                @messages("info.ingredient")
            </p>

        </div>
        <div class="col-md-4">
            <h2>@messages("clients")</h2>
            <p><img src="@routes.Assets.versioned("img/icons/customer.png")" style="float : left ;" class="img-rounded"/>
                @messages("info.clients")
            </p>

        </div>
    </div>
    <hr>

</div>