@()(implicit request: RequestHeader, messages: Messages)

<div>
    <div class="row" style="margin-bottom: 300px;">
        <div class="col-md-10 col-md-offset-1">
            <div class="center-block thumbnail">
                <img ng-src="{{product.imgLargeURL}}" class="img-rounded img-responsive"/>
            </div>
            <div class="center-block thumbnail">
                <div class="fb-comments" data-href="https://www.facebook.com/photo.php?fbid=391151297719150&amp;set=a.385983634902583.1073741835.100004728482461&amp;type=1&amp;theater"
                data-width="100%" data-numposts="15" data-colorscheme="light"></div>
            </div>
        </div>
    </div>
</div>